.task-wrapper {
  width: auto;
  max-width: 80vw;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  position: relative;
  /* margin-top: 3rem; */
  /* margin-bottom: 2rem; */
}

.task-categories-container {
  margin-right: 1rem;
}

.task-main-container {
  width: auto;
  max-width: 80vw;
  min-width: 60vw;
  background-color: var(--secondaryAsh);
  color: var(--primaryDark);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: auto;
  max-height: 90vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  padding: 0.5rem 1rem;
  border-bottom: 10px solid var(--primaryBlue);
}

.task-main-container .task-heading {
  height: 4rem;
  padding: 0.5rem;
  border-bottom: 2px solid var(--primaryDark);
}

.task-main-container .task-heading .tasks-numbering {
  background-color: var(--yellow);
  border: 2px solid var(--primaryDark);
  padding: 0.3rem;
  border-radius: 8px;
}

.task-main-container .tasks {
  height: auto;
}

.task-categories-container .add-category {
  border-top: 2px solid var(--primaryDark);
}

.task-categories-container ul li {
  font-family: "Manrope", sans-serif;
  text-align: center;
}

.task-main-container .task-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.task-heading .task-category {
  color: var(--yellow);
}

.task-heading .categories-wrapper {
  cursor: pointer;
}

.add-task {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  min-width: 1rem;
  padding-top: 0.8rem;
  border-top: 2px solid var(--primaryDark);
  text-align: center;
  cursor: pointer;
}

.add-task h4 {
  width: 6rem;
  padding: 0.2rem 0.4rem;
  border: 2px solid var(--primaryDark);
  border-radius: 25px;
  background-color: var(--primaryBlue);
  color: var(--white);
}

.add-task h4:hover {
  color: var(--primaryBlue);
  background-color: var(--white);
}

.categories-wrapper .category-modal {
  cursor: auto;
  position: absolute;
  background-color: var(--primaryAsh);
  color: var(--primaryDark);
  top: 2%;
  left: 100%;
  z-index: 2;
  border-radius: 8px;
  padding: 8px 5px;
  transition: all 0.7s ease-in-out;
}

.categories-wrapper h3 {
  background-color: var(--yellow);
  border: 2px solid var(--primaryDark);
  color: var(--primaryDark);
  padding: 0.3rem 0.5rem;
  border-radius: 25px;
}

.categories-wrapper h3:hover {
  background-color: var(--white);
  border-color: var(--primaryDark);
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.category-modal ul li {
  background-color: var(--yellow);
  border-radius: 5px;
  color: var(--primaryDark);
  font-weight: 500;
  padding: 0.2rem 0.4rem;
  margin: 0.3rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Media queries */

/* @media  (min-width:1301px) {} */

/* @media  (max-width:1300px) {} */

/* @media  (max-width:1025px) {} */

/* @media(max-width: 991px) {} */

@media (max-width: 769px) {
  .categories-wrapper .category-modal {
    top: 15%;
    left: 80%;
    z-index: 3;
  }
}

/* 
@media (max-width: 541px) {
    
  } */

@media (max-width: 415px) {
  .task-wrapper {
    width: 90vw;
  }

  .task-main-container {
    width: 100%;
    max-height: none;
  }

  .task-main-container .task-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 6rem;
  }

  .task-main-container .task-heading .tasks-numbering {
    margin-bottom: 0.5rem;
    background: var(--white);
    padding: 5px;
    border: none;
    font-weight: 500;
  }

  .task-main-container .task-heading .categories-wrapper .task-sort-category {
    padding: 3px 5px;
  }

  .categories-wrapper .category-modal {
    top: 15%;
    left: 70%;
    z-index: 3;
  }
}


@media (max-width: 376px) {
  .categories-wrapper .category-modal {
    top: 15%;
    left: 60%;
    z-index: 3;
  }
}


@media (max-width: 321px) {
}
