.user-task-container {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: burlywood;
}

.user-intro {
  width: auto;
  max-width: 1000px;
  min-width: 460px;
  background-color: var(--primaryDark);
  color: var(--white);
    border-top: 10px solid var(--yellow);
border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 1rem;
  padding: 5px;
  text-transform: capitalize;
   letter-spacing: 0.8px;
  word-spacing: 4px;
}

.loggedin-username {
    /* font-family: "DM Sans", sans-serif; */
  font-size: 1.4rem;
  color: var(--yellow);
}

.taskform-container {
  position: absolute;
  z-index: 2;
  top: 30vh;
  left: calc(50vw - 200px);
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 2;
}
